* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    overflow: hidden; /* منع التمدد غير المرغوب فيه */
}





.hero-right {
    width: 100vw;
    height: 100vh; /* أو حسب رغبتك */
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
}

.hero-right img {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}

/* تحسين المظهر للأجهزة الصغيرة */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .hero-left p {
        font-size: 50px;
    }

    

    
}
